@import './../settings/mixins.scss';
@import './../settings/variables.scss';

.sidebar {
  padding-top: px-to-rem(60);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background-color: map-get($colors, 'white');
  overflow-x: hidden;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);

  &__toggle {
    transition: transform 0.5s;
    cursor: pointer;

    &--open {
      transform: rotate(0deg);
    }

    &--closed {
      transform: rotate(180deg);
    }
  }

  &__navigation {
    margin-top: px-to-rem(20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    &--open {
      width: px-to-rem(200);
    }

    &--closed {
      width: px-to-rem(90);
    }
  }

  &__icon {
    display: flex;
    padding: px-to-rem(12);
    background-color: map-get($colors, 'purple');
    color: map-get($colors, 'white');
    border-radius: 100%;
  }

  &__menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;

    &__link {
      position: relative;
      display: flex;
      align-items: center;
      font-size: px-to-rem(20);
      font-weight: 500;
      color: map-get($colors, 'titles');
      overflow: hidden;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: map-get($colors, 'purple');
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    &__icon {
      cursor: pointer;

      svg {
        font-size: px-to-rem(30);
      }
    }
  }
}
