@import './../../../settings/mixins.scss';
@import './../../../settings/variables.scss';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  &__top {
    display: flex;
    justify-content: space-between;

    &__title {
      margin-left: px-to-rem(20);
      font-size: px-to-rem(22);
      font-weight: 700;
    }

    &__close-button {
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  &__content {
    padding: px-to-rem(20);
    width: px-to-rem(504);
    height: px-to-rem(602);
    max-height: auto;
    background-color: #ffff;
    border-radius: 8px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input-title {
    margin-bottom: px-to-rem(30);
    padding: px-to-rem(10) 0;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-family: Poppins;
  }

  &__input-description {
    width: 90%;
    height: px-to-rem(219);
    border: none;
    border: 1px solid #2F80ED;
    outline: none;
    font-family: Poppins;
    border-radius: 8px;
  }

  &__create-task-button {
    margin-top: px-to-rem(60);
    width: px-to-rem(403);
    max-width: 100%;
    height: px-to-rem(54);
    font-size: px-to-rem(20);
    font-family: Poppins;
    background-color: #7580E8;
    color: #ffff;
    background-color: #7580E8;
    border: none;
    border-radius: 8px;
  }
}