.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  &__top {
    display: flex;
    justify-content: space-between;

    &__title {
      margin-left: 20px;
      font-size: 22px;
      font-weight: 700;
    }

    &__close-button {
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  &__content {
    padding: 20px;
    width: 504px;
    height: 602px;
    max-height: auto;
    background-color: #ffff;
    border-radius: 8px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input-title {
    margin-bottom: 30px;
    padding: 10px 0;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-family: Poppins;
  }

  &__input-description {
    width: 90%;
    height: 219px;
    border: none;
    border: 1px solid #2F80ED;
    outline: none;
    font-family: Poppins;
    border-radius: 8px;
  }

  &__create-task-button {
    margin-top: 60px;
    width: 403px;
    max-width: 100%;
    height: 54px;
    font-size: 20px;
    color: #ffff;
    border: none;
    border-radius: 8px;
    background-color: #7580E8;
    font-family: Poppins;
  }
}