@import './../../../settings/mixins.scss';
@import './../../../settings/variables.scss';

.modal {
  position: absolute;
  padding: px-to-rem(20);
  display: flex;
  flex-direction: column;
  min-width: px-to-rem(500);
  width: fit-content;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 8px;
  gap: px-to-rem(20);
  transform: translate(-50%, -50%);

  &__top {
    display: flex;
  }

  &__label {
    margin-bottom: -15px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: px-to-rem(12);
    color: rgba(0, 0, 0, 0.6);
  }

  &__textarea {
    margin: px-to-rem(12) 0;
    padding: px-to-rem(10) px-to-rem(10);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid map-get($colors, 'gray');
    outline: none;
    border-radius: 5px;
  }

  &__close-button {
    position: absolute;
    margin-right: px-to-rem(15);
    background: none;
    border: none;
    right: 0;
    color: map-get($colors, 'gray');
    cursor: pointer;
  }

  &__create-button {
    margin: px-to-rem(14) 0;
    height: px-to-rem(47);
    font-size: px-to-rem(16);
    font-weight: 600;
    color: #ffff;
    background-color: map-get($colors, 'blue');
    border: none;
    border-radius: 8px;
    transition: 0.2s all ease-in;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      box-shadow: rgba(47, 128, 237, 0.8) 0px 5px 15px;
    }

    &:active {
      transform: translateY(0);
      box-shadow: rgba(47, 128, 237, 0.8) 0px 0px 0px;
    }
  }
}