.card-top {
  display: flex;
  justify-content: space-between;

  &__tag {
    display: flex;
    justify-content: center;
    width: 102px;
    height: 28px;
    font-size: 16px;
    font-weight: 600;
    background-color: #97d5f9;
    color: #1778B0;
    border-radius: 50px;
  }
}