@import './../../../settings/mixins.scss';
@import './../../../settings/variables.scss';

.droppable-tasks {
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    height: 100vh;
  }

  &__title {
    font-size: px-to-rem(24);
    font-weight: 600;
    color: #455a64;
  }
}