@import './../settings/mixins.scss';
@import './../settings/variables.scss';

.main {
  padding: px-to-rem(20) px-to-rem(30);
  margin-top: px-to-rem(70);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: map-get($colors, 'white');
  border-radius: 20px;
  width: 80%;

  &__title {
    margin-bottom: 0;
    font-size: px-to-rem(40);
    font-weight: 600;
    color: map-get($colors, 'titles');
  }

  &__description {
    margin-top: px-to-rem(15);
    font-size: px-to-rem(20);
    font-weight: 400;
    color: map-get($colors, 'description');
  }

  &__button {
    margin-top: px-to-rem(15);
    width: px-to-rem(280);
    max-width: 100%;
    height: px-to-rem(50);
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: map-get($colors, 'purple');
    color: map-get($colors, 'white');
    font-size: px-to-rem(18);
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all ease-in;

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(152, 84, 203, 0.8) 0px 5px 15px;
    }

    &:active {
      transform: translateY(0);
      box-shadow: rgba(152, 84, 203, 0.8) 0px 0px 0px;
    }
  }

  &__image {
    position: absolute;
    top: 5%;
    right: 20%;
  }
}

.progress-cards-area {
  margin-top: px-to-rem(20);
}