@import './../../settings/mixins.scss';
@import './../../settings/variables.scss';

.card {
  padding: px-to-rem(10) px-to-rem(25);
  width: px-to-rem(304);
  max-width: 100%;
  height: px-to-rem(225);
  max-height: auto;
  background-color: map-get($colors, 'white');
  border-radius: 22.69px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__date {
    font-size: px-to-rem(16);
    font-weight: 700;
    color: #d9d9d9;
  }

  &__task-title {
    margin-bottom: 0;
    font-size: px-to-rem(20);
    font-weight: 600;
    color: map-get($colors, 'titles');
  }

  &__task-current-status {
    margin-top: 0;
    font-size: px-to-rem(16);
    font-weight: 400;
    color: map-get($colors, 'description');
  }

  &__progress-container {
    width: 100%;
    height: px-to-rem(8);
    background-color: #e0e0e0;
    border-radius: 50px;
    overflow: hidden;

    &__progress-bar {
      height: 100%;
      background-color: map-get($colors, 'purple');
    }
  }

  &__progress-status {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p, span {
      font-size: px-to-rem(14);
      color: map-get($colors, 'description');
    }
  }
}