@function px-to-rem($size, $default: 16) {
  @return #{($size/$default)}rem;
}

@mixin ripple-button($hover, $active) {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: $hover radial-gradient(circle, transparent 1%, $hover 1%) center/15000%;
  }

  &:active {
    background-color: $active;
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin animate-underline($color) {
  display: inline-block;
  background-image: linear-gradient(transparent calc(100% - 1px), $color 10px);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .5s;

  &:hover {
    background-size: 100% 100%;
  }
}

@mixin arrow-icon ($color) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="#{$color}" width="12" height="6" viewBox="0 0 12 6"><path fill="none" fillRule="evenodd" strokeWidth="2" d="M2.414 1L6 4.586 9.586 1H2.414z" /></svg>') 0 0 no-repeat;
}