@import './mixins.scss';

$colors: (
  'background': #f3f5f9,
  'purple': #9854cb,
  'white': #fcfbff,
  'titles': #141522,
  'description': #27104E,
  'blue': #2f80ed,
  'gray': #939393,
  'green-background': #c2ffc2,
  'green-title': #64b364,
  'blue-background': #97d5f9,
);

$font: 'Poppins', sans-serif;
$font-numbers: 'Poppins', sans-serif;

$responsive: (
  'sm': 768px,
  'md': 1024px,
  'lg': 1280px,
  'xlg': 1440px
);

$defaultPadding: px-to-rem(102);
$defaultPaddingMobile: 30px;