@import './mixins.scss';

$colors: (
  'background': #f3f5f9,
  'purple': #9854cb,
  'light-purple': #d7a2ff,
  'off-white': #fcfbff,
  'dark': #333333,
  'title': #141522,
  'description': #27104e,
  'blue': #2f80ed,
  'light-blue': #97d5f9,
  'gray': #939393,
  'light-green': #ace2ac,
  'green': #42ad42,
  'light-red': #f07a7a,
  'red': #b32f2f,
  'yellow': #ffd651,
  'orange': #e99517,
  'pink': #c55090,
  'light-pink': #f5b6d6,
);

$font: 'Poppins', sans-serif;
$font-numbers: 'Poppins', sans-serif;

$responsive: (
  'sm': 768px,
  'md': 1024px,
  'lg': 1280px,
  'xlg': 1440px
);

$defaultPadding: px-to-rem(102);
$defaultPaddingMobile: 30px;